kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
resources:
  - proxy.yaml
  - rbac.yaml

images:
- name: quay.io/konflux-ci/konflux-ui
  newName: quay.io/konflux-ci/konflux-ui
  digest: sha256:cc294f598bece054b803a6e05e4eae20fdbec9228d460c81f86e4ec9c92b0e44
- name: quay.io/konflux-ci/oauth2-proxy
  newName: quay.io/konflux-ci/oauth2-proxy
  digest: sha256:1f4a37529de4f750099af18e113556bd995fe6922030c614b7d6d23eaa0bd318
- name: registry.access.redhat.com/ubi9/nginx-124
  digest: sha256:ece0c2d70199f0bcd3316d6913ef4b8e815d0229693156dee4bad8d69b13edc6

configMapGenerator:
  - name: proxy
    files:
      - nginx.conf
  - name: proxy-nginx-templates
    files:
      - auth.conf
      - tekton-results.conf

namespace: konflux-ui
