kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
resources:
  - ns.yaml
  - proxy

images:
  # workspace-manager
  - name: quay.io/konflux-ci/workspace-manager
    digest: sha256:d72968158bec10442236d4f84a904beeff5a022f3e032ecdd2d421651c01f8d3
  - name: quay.io/konflux-ci/konflux-ui
    digest: sha256:433381ed8cd6e8c7d5893a36f11b055fe0b8f17f415fe95bba90dea7db486c0a

namespace: konflux-ui
