---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - smee-client.yaml

images:
  - name: ghcr.io/chmouel/gosmee
    newName: ghcr.io/chmouel/gosmee
    newTag: v0.29.0
  - name: quay.io/konflux-ci/smee-sidecar
    newName: quay.io/konflux-ci/smee-sidecar
    newTag: latest@sha256:8f96f59451f4203bfe05d0ef31aa6299db27342a0efaaf408e9b7f8659ac7526

patches:
  - path: smee-channel-id.yaml
    target:
      kind: Deployment
      name: gosmee-client
