---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - smee-client.yaml

images:
  - name: ghcr.io/chmouel/gosmee
    newName: ghcr.io/chmouel/gosmee
    newTag: v0.29.0
  - name: quay.io/konflux-ci/smee-sidecar
    newName: quay.io/konflux-ci/smee-sidecar
    newTag: latest@sha256:a6b39263d006c987478a458332d51114d2171002d60187248613defb7e48f285

patches:
  - path: smee-channel-id.yaml
    target:
      kind: Deployment
      name: gosmee-client
